* {
	font-family: "VT323", monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #daac70;
}

.result-card {
	width: 100vw;
	height: 80vh;
	position: fixed;
	backdrop-filter: blur(10px);
	top: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	color: black;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: red;
	font-size: 15rem;
}

.title {
	font-size: 10rem;
	margin-bottom: 1rem;
	color: red;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

.game-card {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.Xs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Os {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.X-s,
.O-s {
	font-size: 9rem;
}

.input-toggle {
	display: flex;
	justify-content: space-between;
}

.status-nr {
	padding-right: 10px;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
}

.status-r {
	padding-left: 10px;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
	opacity: 50%;
}

.switch-ctn {
	display: flex;
	justify-content: space-evenly;
	padding-right: 20px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: flex;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	border: 1px solid black;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	top: 3px;
	left: 3px;
	bottom: 4px;
	background-color: black;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
	background: red;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.input-toggle {
	display: flex;
	flex-direction: row;
}

.input-toggle2 {
	display: flex;
	justify-content: space-between;
}

.status-nr2 {
	padding-right: 10px;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
}

.status-r2 {
	padding-left: 10px;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
	opacity: 50%;
}

.switch-ctn2 {
	display: flex;
	justify-content: space-evenly;
	padding-right: 20px;
}

/* The switch - the box around the slider */
.switch2 {
	position: relative;
	display: flex;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch2 input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider2 {
	border: 1px solid black;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider2:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	top: 3px;
	left: 3px;
	bottom: 4px;
	background-color: black;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:focus + .slider2 {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider2:before {
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
	background: red;
}

/* Rounded sliders */
.slider2.round2 {
	border-radius: 34px;
}

.slider2.round2:before {
	border-radius: 50%;
}

.input-toggle2 {
	display: flex;
	flex-direction: row;
}

.start-btn {
	font-size: 4rem;
	border: 3px solid black;
	cursor: pointer;
	padding: 1rem;
}

.game-board {
	min-width: 40vh;
	min-height: 30vh;
	border: 3px solid black;
	margin: 1rem;
	display: none;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	margin: 3rem;
	min-height: 30vh;
}

.grid {
	background: transparent;
	border: none;
}

#zero,
#one,
#three,
#four {
	border-bottom: solid black;
	border-right: solid black;
}

#two,
#five {
	border-bottom: solid black;
}

#six,
#seven {
	border-right: solid black;
}

.move {
	font-size: 5rem;
}

.select {
	position: relative;
	overflow: hidden;
	border: solid black;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	color: black;
	cursor: pointer;
	width: 24vh;
	padding: 1.4rem;
}

.select::after {
	content: "\25BC";
	background: red;
	position: absolute;
	top: 0;
	right: 0;
	padding: 2rem;
	pointer-events: none;
	border-left: solid black;
}

.diff-select {
	font-size: 2rem;
}

.diff-reset-clear {
	min-width: 40vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1rem;
}

.restart-btn,
.clear-btn {
	font-size: 2rem;
	border: 3px solid black;
	cursor: pointer;
	padding: 1rem;
	display: none;
}
